@charset "utf-8";
/* CSS Document */

#content{
		width:867px;
		height:900px;
		background-color:white;
		}
#content detal img{
	margin-top:10px;
	margin-bottom:0px;
}
#content .a1 img{
	margin-top:3px;	
}
#content .a2 img{
	margin-top:3px;	
}
	
 #content li{
	 font-size:16px;
	 padding-left:20px;
	 line-height:20px;
 }
 #content p{
	 clear:both;
	 display:block;
	 margin-top:30px;
	 text-align:center;
	 font-size:14px;
 }
 #content .a1{
	float:left;
	width:50%;
	height:610px;
	margin-top:5px;
 }
 #content .a2{
	float:right;
	width:50%;
	height:610px; 
	
 }
 #content .b1{
	 display:block;
	 width:234px;
	 height:31px;
	 text-align:center;
	 border-bottom:1px solid #FF6700;
	 background-color:#eee;
	 line-height:31px;
	 margin-top:0px;
	 margin-left:27px;
	 margin-bottom:5px;
 }
